.career-info-container {
  background-color: #001f3f;
  min-height: 100vh;
  color: white;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.career-info-container h2 {
  margin-top: 2rem;
}

.career-info-container p {
  max-width: 600px;
  line-height: 1.5;
}
