.login-container {
  background-color: #001f3f; /* dark blue */
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-form input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.login-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #003f7f;
}
